@import "selectizeVariables";
@import "selectize.bootstrap4";

html {
    margin : 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin     : 0;
    padding    : 0;
    background-color: #e9eef9;

    b,
    strong {
        font-weight: 600;
    }

    .btn {
        color : #fff;
        border: 0 none;

        &.btn-primary {
            background: linear-gradient(90deg, rgb(108, 195, 216) 0%, rgb(60, 148, 209) 100%);
        }
        &.btn-success {
            background: linear-gradient(90deg, #78de84 0%, #3cd14e 100%);
        }

        &.btn-secondary {
            background: linear-gradient(90deg, rgb(252, 162, 112) 0%, rgb(253, 104, 106) 100%);
        }

        &.btn-info {
            background-image: linear-gradient(90deg, rgb(238, 107, 138) 0%, rgb(222, 36, 114) 100%);
        }

        &.btn-warning {
            background-image: linear-gradient(90deg, rgb(175, 84, 174) 0%, rgb(133, 39, 132) 100%);
        }

        &.btn-danger {
            background-image: linear-gradient(90deg, rgb(255, 69, 69) 0%, rgb(219, 0, 0) 100%);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Poppins", sans-serif;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size  : 18px;
        line-height: 25px;
        color      : rgb(4, 4, 4);
    }

    header.main-header {
        background-color: #e2bde2;
        padding         : 0px 0 140px;
        margin-bottom   : -135px;
        
        .btn--group {
            margin-bottom: 0;
            margin-left: auto;
            @media(max-width: 991px){
                text-align: center;
            }
            input[type="text"].payout {
                width        : auto;
                border-style : solid;
                border-width : 2px;
                border-color : rgb(255, 255, 255);
                border-radius: 5px;
                height       : 39px;
                text-align   : center;
                @media(min-width: 1600px){
                    height       : 50px;
                }
                &:focus {
                    outline-width: 1px;
                    outline-style: dashed;
                }
            }
            .btn {
                border       : 0 none;
                border-radius: 5px;
                width        : auto;
                height       : auto;
                font-size    : 16px;
                font-weight  : normal;
                margin-left: 6px;
                // padding      : 7px 15px;
                // line-height  : 28px;
                @media(min-width: 1600px){
                    font-size    : 18px;
                }
                @media(max-width: 991px){
                    font-size: 14px;
                    padding: 5px 10px;
                    line-height: normal;
                    margin-top: 10px;
                    &:nth-of-type(1n+2) {
                        margin-left: 10px;
                    }
                }
            }
        }
        .dropdown{
            margin-left: auto;
            .dropdown-toggle {
                font-size: 18px;
                color    : rgb(59, 59, 59);
                .avatar.img-fluid.rounded-circle {
                    border-style    : solid;
                    border-width    : 2px;
                    border-color    : rgb(133, 39, 132);
                    border-radius   : 50%;
                    background-color: rgb(147, 65, 146);
                    width           : 58px;
                    height          : 58px;
                    @media(max-width: 767px){
                        width           : 36px;
                        height          : 36px;
                    }
                }
            }
        }
  
    }

    .container {
        @media (min-width: 1200px) {
            max-width: 1220px;
        }
    }

    .container-fluid {
        @media (min-width: 1200px) {
            padding-left : 30px;
            padding-right: 30px;
        }
    }
    .whiteBox {
        border-radius   : 10px;
        background-color: rgb(255, 255, 255);
        box-shadow      : 0px 1px 6.51px 0.49px rgba(0, 0, 0, 0.46);
        padding         : 30px 15px 0;
        
        &.boxWrap {
            padding: 15px 15px 0;
            text-align: center;
            margin-bottom: 30px;
            @media (min-width: 1200px) {
                margin-top: 0px;
                min-height: calc(100% );
                display: flex;
                flex-direction: column;
            }
            h3 {
                font-size  : 24px;
                font-weight: bold;
                text-align : center;
            }

            p {
                font-size  : 24px;
                text-align : center;
                font-weight: normal;
            }

            .cycle-slideshow { 
                -webkit-perspective: 1000;
                -webkit-transform-style: preserve-3d;
                -moz-perspective: 1000;
                -moz-transform-style: preserve-3d;
                -o-perspective: 1000;
                -o-transform-style: preserve-3d;
                perspective: 1000;
                transform-style: preserve-3d;  
                display: inline-block;
                a{
                    display: block;
                    img{
                        display: block;
                        margin: auto;
                        max-width: 100%;
                    }
                }
            }

            div#countdown {
                background-color: rgb(133, 39, 132);
                border-radius   : 0 0 10px 10px;
                margin          : 15px -15px 0;
                padding         : 10px;
                text-align      : center;
                color           : #fff;
                font-weight     : bold;
                font-size       : 24px;
                margin-top: auto;
                span.saprator {
                    color                    : rgba(255, 255, 255, 1);
                    animation-name           : example;
                    animation-duration       : 2s;
                    animation-iteration-count: infinite;
                    animation-delay          : 2s;
                }
            }

            @keyframes example {
                0% {
                    color: rgba(255, 255, 255, 1);
                }

                50% {
                    color: rgba(255, 255, 255, 0);
                }

                100% {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

    }
    
    .rightSection {
        .whiteBox {
            padding: 20px;
            .row-5-cols{
                margin-bottom: 0;
            }
        }

        
        .balanceBox {
            color        : #852784;
            border-radius: 5px;
            background   : #f8eaf8;
            padding      : 15px;
            text-align: center;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            span {
                font-weight: bold;
            }
            
            .balance {
                font-size    : 18px;
                margin-bottom: 15px;
                @media(min-width: 1600px){
                    font-size    : 20px;
                }
                
                span {
                    font-size: 30px;
                    display  : block;
                    @media(min-width: 1600px){
                        font-size    : 34px;
                    }
                }
            }
            
            .dated {
                margin-bottom: 15px;
                font-size    : 18px;
                @media(min-width: 1600px){
                    font-size    : 20px;
                }
                span {
                    font-size: 24px;
                    display  : block;
                    @media(min-width: 1600px){
                        font-size    : 28px;
                    }
                }

            }

            .total {
                font-size  : 18px;
                font-weight: bold;
                @media(min-width: 1600px){
                    font-size    : 20px;
                }
            }
        }

        .col-5-cols {
            max-width    : 20%;
            margin-bottom: 20px;
            @media(max-width: 991px){
                max-width    : 25%;
            }
            @media(max-width: 575px){
                max-width    : 50%;
            }
            h6 {
                font-weight: bold;
                font-size  : 18px;
                text-align : center;
                margin-top: 10px;
                @media(min-width: 1600px){
                    font-size  : 20px;
                
                }
            }

            input[type="text"] {
                width        : 100%;
                border-style : solid;
                border-width : 2px;
                border-color : rgb(228, 228, 228);
                border-radius: 5px;
                height       : 36px;
                text-align   : center;

                &:focus {
                    outline-width: 1px;
                    outline-style: dashed;
                }
            }
        }
    }

    .hSlider {
        margin: 26px -15px 30px;
        max-height: 160px;
        overflow: auto;
        padding: 0px 15px 15px;
        @media(max-width: 1199px){
        }
        .col-5-cols {
            max-width    : 20%;
            margin-top: 10px;
            margin-bottom: 10px;
            @media(max-width: 1199px){
                max-width    : 25%;
            }
            @media(max-width: 991px){
                max-width    : 33.33%;
            }
            @media(max-width: 575px){
                max-width    : 50%;
            }
            .thumbBox {
                border-radius   : 10px;
                background-color: rgb(255, 255, 255);
                box-shadow      : 0px 1px 6.51px 0.49px rgba(0, 0, 0, 0.46);
                padding         : 10px;
                display: flex;
                .imgWrap{
                    flex: 0 0 30%;
                    order: 2;
                }
                .caption{
                    flex: 1 0 auto;
                    h6 {
                        font-weight: bold;
                        font-size  : 18px;
                        line-height: 18px;
                        color: rgb(133, 39, 132);
                        margin-bottom: 6px;
                    }
                    .dateTime {
                        font-size: 18px;
                        line-height: 18px;
                        .date {
                            display: block;
                        }
        
                        .time {
                            display: block;
                        }
        
                    }
                }

            }

        }
    }
.modal.smileModal{
    .modal-content{
        background-color: transparent;
        box-shadow: none;
        border: 0 none;
    }
}


}